
.bgi-1 {
    background-image: url("img/graphy.png");
    background-color: #fff8f2;
    -webkit-box-shadow: inset 0 0 400px 0 #BFBDB5;
    box-shadow: inset 0 0 400px 0 #BFBDB5;
    color: #242424;
}
html, body, .h-100 {
    height: 100%
}